<link rel="stylesheet" href="../style/footer.css"/>

<footer class="footer p-5">
    <div class="container">
        <span class="text-muted"><a href="#" class="footer-link">About us</a> - <a href="#" class="footer-link">Developers</a> -
            <a href="#" class="footer-link">Legal</a> - <a href="#" class="footer-link">Privacy</a> -
            <a href="#" class="footer-link">Cookies</a> - <a href="#" class="footer-link">Language</a> -
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf33R4ENSv5aJkADMyfK9K2gTK748QiFEs18sqW6stw5kN38A/viewform?usp=sf_link"
               class="footer-link">Feedback</a></span>
    </div>
</footer>